.menuContainer {
  position: fixed;
  width: 100%;
  top: 0;
}

.link {
  text-decoration: none;
  color: rgba(240, 240, 240, 1);
  font-size: 14px;
  margin-top: 55px;
}

.menu {
  text-decoration: none;
  color: rgba(240, 240, 240, 1);
  font-size: 14px;
  height: 5px;
  margin-top: 40px;
}

.footerContainer {
  position: fixed;
  width: 100%;
  padding: 12px 0 12px 0;
  bottom: 0;
  background-color: rgba(115, 164, 83, 1);
}